Repository gosub-io/gosub-engine, pull requests merged in 2024-12, with the labels that each got.

#701 fix new clippy lints in newest version
  crates/gosub_css3/src/tokenizer.rs
  crates/gosub_html5/src/document/query.rs
  crates/gosub_html5/src/parser/errors.rs
  crates/gosub_html5/src/parser/helper.rs
  crates/gosub_html5/src/parser/quirks.rs
  crates/gosub_html5/src/tokenizer.rs
  crates/gosub_taffy/src/lib.rs
  crates/gosub_useragent/src/application.rs
  crates/gosub_useragent/src/event_loop.rs
  crates/gosub_v8/src/v8.rs
  crates/gosub_webexecutor/src/js/value_conversion.rs
  crates/gosub_webexecutor/tests/interop.rs
Labels: ci

#689 fix specificity of shorthand props
  crates/gosub_css3/src/matcher/shorthands.rs
  crates/gosub_css3/src/matcher/styling.rs
  crates/gosub_css3/src/stylesheet.rs
  crates/gosub_css3/src/system.rs
Labels: css3

#717 Dependafix
  Cargo.lock
  crates/gosub_vello/Cargo.toml
  crates/gosub_vello/src/lib.rs
  crates/gosub_vello/src/render.rs
Labels: dependencies

#736 move interop test to fix cyclic dependency
  Cargo.lock
  crates/gosub_v8/Cargo.toml
  crates/gosub_v8/src/lib.rs
  crates/gosub_v8/src/tests.rs
  crates/gosub_v8/src/tests/interop.rs
  crates/gosub_webexecutor/Cargo.toml
  crates/gosub_webinterop/Cargo.toml
Labels: dependencies, tests

#733 begin event loop and `EngineInstance`
  Cargo.lock
  Cargo.toml
  crates/gosub_cairo/src/elements/brush.rs
  crates/gosub_cairo/src/elements/rect.rs
  crates/gosub_cairo/src/elements/text.rs
  crates/gosub_cairo/src/lib.rs
  crates/gosub_cairo/src/scene.rs
  crates/gosub_instance/Cargo.toml
  crates/gosub_instance/src/lib.rs
  crates/gosub_interface/Cargo.toml
  crates/gosub_interface/src/chrome.rs
  crates/gosub_interface/src/config.rs
  crates/gosub_interface/src/config/chrome.rs
  crates/gosub_interface/src/draw.rs
  crates/gosub_interface/src/eventloop.rs
  crates/gosub_interface/src/input.rs
  crates/gosub_interface/src/instance.rs
  crates/gosub_interface/src/lib.rs
  crates/gosub_interface/src/render_backend.rs
  crates/gosub_interface/src/request.rs
  crates/gosub_net/src/http/fetcher.rs
  crates/gosub_renderer/src/draw.rs
  crates/gosub_renderer/src/draw/img.rs
  crates/gosub_renderer/src/render_tree.rs
  examples/gtk-renderer/main.rs
  examples/vello-renderer/application.rs
  examples/vello-renderer/event_loop.rs
  examples/vello-renderer/main.rs
  examples/vello-renderer/tabs.rs
  examples/vello-renderer/window.rs
  src/prelude.rs
Labels: useragent, event loop

#749 make load_html_rendertree more generic
  crates/gosub_instance/src/lib.rs
  crates/gosub_interface/src/draw.rs
  crates/gosub_interface/src/render_tree.rs
  crates/gosub_renderer/src/draw.rs
  crates/gosub_renderer/src/render_tree.rs
  crates/gosub_rendering/src/render_tree.rs
Labels: render tree

#750 rename Web Object with web_interop macro
  crates/gosub_webinterop/src/impl_interop_struct.rs
  crates/gosub_webinterop/src/lib.rs
  examples/vello-renderer/application.rs
Labels: macros, web interop macro
